label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}


input {
   display: inline-block;
  float: left;
    margin: auto auto;
    width: 40%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: 1px solid #000000;
    
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
  .div1 {
    width: 900px;
    height: 300px;
	 padding: 50px;
    border: 1px solid black; 
}
.error {
    color: #FF0000;
}